#define L_BASE_MAC 0
#define L_BASE_FORT 1
#define L_BASE_MINE 2
#define L_BASE_GAME 3
#define L_BASE_WIN 4
#define L_BASE_SKETCHUP 5
#define L_BASE_OLD 6
#define L_EXT_NAV 7
#define L_EXT_NUM 8
#define L_EXT_FUNC 9
#define L_MOUSE 10
#define L_LAYERS 11
#define L_UNDERGLOW 12
#define L_BLANK_TRANSPARENT 13

#define LEFT_KEYS 1 2 3 4 5 6 7 15 16 17 18 19 20 21 29 30 31 32 33 34 41 42 43 44 45 46 47 55 56 57 58 59
#define LEFT_THUMB_KEYS 65 66 69 70 71 75
#define RIGHT_KEYS 8 9 10 11 12 13 14 22 23 24 25 26 27 28 35 36 37 38 39 40 48 49 50 51 52 53 54 60 61 62 63 64
#define RIGHT_THUMB_KEYS 67 68 72 73 74 76

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define HRM_TAP_TERM_MS 250
#define THUMB_TAP_TERM_MS 280
#define TAP_TERM_MS 200
#define QUICK_TAP_MS 160
#define PRIOR_IDLE_MS 150 // 167 is calibrated to 10500/63, where 63 is my casual WPM; 150 is calibrated to 10500/70 where 70 is my more regular typing speed

&mt {
    tapping-term-ms = <TAP_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_func {
            timeout-ms = <50>;
            key-positions = <69 74>;
            bindings = <&tog L_EXT_FUNC>;
        };
        combo_nav {
            timeout-ms = <50>;
            key-positions = <69 70>;
            bindings = <&tog L_EXT_NAV>;
        };
        combo_num {
            timeout-ms = <50>;
            key-positions = <73 74>;
            bindings = <&tog L_EXT_NUM>;
        };
        combo_move_win {
          timeout-ms = <50>;
          key-positions = <16 17>;
          bindings = <&kp LC(LSHFT)>;
        };
        combo_resize_win {
          timeout-ms = <50>;
          key-positions = <42 43>;
          bindings = <&kp LA(LSHFT)>;
        };
        combo_clipboard_history {
          timeout-ms = <50>;
          key-positions = <45 46>;
          bindings = <&kp LG(LS(V))>;
        };
    };
};

/ {
  layer_listeners {
    compatible = "zmk,layer-listeners";

    underglow_shortcut {
      layers = <L_EXT_NAV>;
      bindings = <&rgb_ug RGB_COLOR_HSB(299, 87, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    underglow_nav {
      layers = <L_EXT_NUM>;
      bindings = <&rgb_ug RGB_COLOR_HSB(240, 96, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };	
    underglow_num {
      layers = <L_EXT_FUNC>;
      bindings = <&rgb_ug RGB_COLOR_HSB(127, 94, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    /* underglow_func {
      layers = <LAYER_FUNC>;
      bindings = <&rgb_ug RGB_COLOR_HSB(187, 90, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    }; */
    underglow_fortnite {
      layers = <L_BASE_FORT>;
      bindings = <&rgb_ug RGB_COLOR_HSB(0, 0, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    underglow_minecraft {
      layers = <L_BASE_MINE>;
      bindings = <&rgb_ug RGB_COLOR_HSB(150, 90, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    underglow_gaming {
      layers = <L_BASE_GAME>;
      bindings = <&rgb_ug RGB_COLOR_HSB(55, 100, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    underglow_layers {
      layers = <L_LAYERS>;
      bindings = <&rgb_ug RGB_COLOR_HSB(0, 100, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    underglow_win {
      layers = <L_BASE_WIN>;
      bindings = <&rgb_ug RGB_COLOR_HSB(180, 100, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
    underglow_sketchup {
      layers = <L_BASE_SKETCHUP>;
      bindings = <&rgb_ug RGB_COLOR_HSB(30, 100, 20) &rgb_ug RGB_COLOR_HSB(0, 100, 0)>;
    };
  };
};


/ {
  behaviors {
    hrml: home_row_mod_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      require-prior-idle-ms = <PRIOR_IDLE_MS>;
      tapping-term-ms = <HRM_TAP_TERM_MS>;
      quick-tap-ms = <QUICK_TAP_MS>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <RIGHT_KEYS>; // List of keys on the right side of the keyboard
      hold-trigger-on-release;
    };
    hrmr: home_row_mod_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      require-prior-idle-ms = <PRIOR_IDLE_MS>;
      tapping-term-ms = <HRM_TAP_TERM_MS>;
      quick-tap-ms = <QUICK_TAP_MS>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <LEFT_KEYS>; // List of keys on the left side of the keyboard
      hold-trigger-on-release;
    };
	tlt: thumb_layer_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      // require-prior-idle-ms = <PRIOR_IDLE_MS>;
      tapping-term-ms = <THUMB_TAP_TERM_MS>;
      quick-tap-ms = <QUICK_TAP_MS>;
      bindings = <&mo>, <&kp>;
	  display-name = "Thumb-Layer-Tap";
	};
    tmt: thumb_mod_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      // require-prior-idle-ms = <PRIOR_IDLE_MS>;
      tapping-term-ms = <THUMB_TAP_TERM_MS>;
      quick-tap-ms = <QUICK_TAP_MS>;
      bindings = <&kp>, <&kp>;
	  display-name = "Thumb-Mod-Tap";
    };
    mt_rpt: modtap_repeat {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      // require-prior-idle-ms = <PRIOR_IDLE_MS>;
      tapping-term-ms = <THUMB_TAP_TERM_MS>;
      quick-tap-ms = <QUICK_TAP_MS>;
      bindings = <&kp>, <&key_repeat>;
	  display-name = "Mod-Tap-Repeat";
	};
	leader: leader {
		compatible = "zmk,behavior-leader-key";
		#binding-cells = <0>;
    ignore-keys = <LSHFT RSHFT>;
		// leaves
		leaf_reopen_tab { sequence = <T>; bindings = <&kp LG(LS(T))>; };
		leaf_clipboard_history { sequence = <V>; bindings = <&kp LG(LS(V))>; };
		leaf_tabs_list { sequence = <A>; bindings = <&kp LG(LS(A))>; };

		// system (/)
		usb { sequence = <SLASH U>; bindings = <&out OUT_USB>; };
		sys_ble { sequence = <SLASH B>; bindings = <&out OUT_BLE>; };
		sys_bt0 { sequence = <SLASH N0>; bindings = <&bt BT_SEL 0>; };
		sys_bt1 { sequence = <SLASH N1>; bindings = <&bt BT_SEL 1>; };
		sys_bt2 { sequence = <SLASH N2>; bindings = <&bt BT_SEL 2>; };
		sys_bt3 { sequence = <SLASH N3>; bindings = <&bt BT_SEL 3>; };
		sys_bt4 { sequence = <SLASH N4>; bindings = <&bt BT_SEL 4>; };
		sys_btc { sequence = <SLASH C>; bindings = <&bt BT_CLR>; };

    // underglow (u)
		sys_ug_bri_inc { sequence = <U EQUAL>; bindings = <&rgb_ug RGB_BRI>; };
		sys_ug_bri_dec { sequence = <U MINUS>; bindings = <&rgb_ug RGB_BRD>; };
		sys_ug_off { sequence = <U X>; bindings = <&rgb_ug RGB_COLOR_HSB(0, 100, 0)>; };
		sys_ug_red { sequence = <U R>; bindings = <&rgb_ug RGB_COLOR_HSB(0, 100, 20)>; };
		sys_ug_white { sequence = <U W>; bindings = <&rgb_ug RGB_COLOR_HSB(0, 0, 20)> ; };
		sys_ug_blue { sequence = <U B>; bindings = <&rgb_ug RGB_COLOR_HSB(127, 94, 20)>; };

		// rectangle (r)
		rect_layout_work_obsidian { sequence = <R N1>; bindings = <&kp LG(LA(LC(LS(N1))))>; };
		rect_layout_work_obsidian2 { sequence = <R W O>; bindings = <&kp LG(LA(LC(LS(N1))))>; };
		rect_layout_work_meet { sequence = <R N2>; bindings = <&kp LG(LA(LC(LS(N2))))>; };
		rect_layout_work_meet2 { sequence = <R W M>; bindings = <&kp LG(LA(LC(LS(N2))))>; };
		rect_layout_work_code { sequence = <R N3>; bindings = <&kp LG(LA(LC(LS(N3))))>; };
		rect_layout_work_code2 { sequence = <R W C>; bindings = <&kp LG(LA(LC(LS(N3))))>; };
		rect_layout_home_obsidian { sequence = <R N6>; bindings = <&kp LG(LA(LC(LS(N6))))>; };
		rect_layout_home_obsidian2 { sequence = <R H O>; bindings = <&kp LG(LA(LC(LS(N6))))>; };
		rect_layout_home_meet { sequence = <R N7>; bindings = <&kp LG(LA(LC(LS(N7))))>; };
		rect_layout_home_meet2 { sequence = <R H M>; bindings = <&kp LG(LA(LC(LS(N7))))>; };
		rect_layout_home_code { sequence = <R N8>; bindings = <&kp LG(LA(LC(LS(N8))))>; };
		rect_layout_home_code2 { sequence = <R H C>; bindings = <&kp LG(LA(LC(LS(N8))))>; };
		rect_next_display { sequence = <R G>; bindings = <&kp LG(LA(LC(LS(RIGHT))))>; };
		rect_next_display2 { sequence = <R L>; bindings = <&kp LG(LA(LC(LS(RIGHT))))>; };
		rect_prev_display { sequence = <R P>; bindings = <&kp LG(LA(LC(LS(LEFT))))>; };
		rect_maximize { sequence = <R D>; bindings = <&kp LA(LC(RET))>; };
		rect_maximize2 { sequence = <R K>; bindings = <&kp LA(LC(RET))>; };
		rect_maximize3 { sequence = <R M>; bindings = <&kp LA(LC(RET))>; };
		rect_center { sequence = <R F>; bindings = <&kp LA(LC(C))>; };
		rect_center2 { sequence = <R J>; bindings = <&kp LA(LC(C))>; };
		rect_center3 { sequence = <R C>; bindings = <&kp LA(LC(C))>; };

		// desktop (d)
		desk_mission_ctrl { sequence = <D M>; bindings = <&kp LC(UP)>; };
		desk_mission_ctrl2 { sequence = <D D>; bindings = <&kp LC(UP)>; };
		desk_mission_ctrl3 { sequence = <D K>; bindings = <&kp LC(UP)>; };
		desk_fullscreen { sequence = <D F>; bindings = <&kp LG(LC(F))>; };
		desk_expose { sequence = <D E>; bindings = <&kp LC(DOWN)>; };
		desk_next { sequence = <D N>; bindings = <&kp LC(RIGHT)>; };
		desk_next2 { sequence = <D G>; bindings = <&kp LC(RIGHT)>; };
		desk_next3 { sequence = <D L>; bindings = <&kp LC(RIGHT)>; };
		desk_prev { sequence = <D P>; bindings = <&kp LC(LEFT)>; };
		desk_prev2 { sequence = <D S>; bindings = <&kp LC(LEFT)>; };
		desk_prev3 { sequence = <D H>; bindings = <&kp LC(LEFT)>; };
		
		// shortcut (s)
		shortcut_screenshot_sel { sequence = <S S S>; bindings = <&kp LG(LS(N1))>; };
		shortcut_screenshot_win { sequence = <S S W>; bindings = <&kp LG(LS(N2))>; };
    
	};
	alt_tab: alt_tab {
      compatible = "zmk,behavior-tri-state";
      label = "ALT-TAB";
      #binding-cells = <0>;
      bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
      ignored-key-positions = <59 60>;
      //timeout-ms = <1000>;
    };
	cmd_tab: cmd_tab {
      compatible = "zmk,behavior-tri-state";
      label = "CMD-TAB";
      #binding-cells = <0>;
      bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
      ignored-key-positions = <59 60>;
      //timeout-ms = <1000>;
    };
  };
};

/ {
	keymap {
		compatible = "zmk,keymap";
		layer_0 { // base-mac
			bindings = <
//╭────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                 │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭────────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &leader           &key_repeat  &kp N6    &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ LEADER   │      │ KEY_RPT    │ 6        │ 7        │ 8        │ 9        │ 0        │ -        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├────────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp GRAVE         &kp EQUAL    &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
//│ TAB      │ Q        │ W        │ E        │ R        │ T        │ `        │      │ =          │ Y        │ U        │ I        │ O        │ P        │ \        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├────────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &kp A      &kp S      &kp D      &kp F      &kp G                                     &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
//│ NONE     │ A        │ S        │ D        │ F        │ G        │          │      │            │ H        │ J        │ K        │ L        │ ;        │ '        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├────────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &kp Z      &kp X      &kp C      &kp V      &kp B      &mt LPAR LBKT     &mt RPAR RBKT &kp N     &kp M      &kp COMMA  &kp DOT    &kp FSLH   &none
//│ NONE     │ Z        │ X        │ C        │ V        │ B        │ (/[      │      │ )/]        │ N        │ M        │ ,        │ .        │ /        │ NONE     │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├────────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LC(LG(SPACE)) &none &none    &cmd_tab   &sk LSHFT                                                        &sk RSHFT  &key_repeat &none      &none      &none
//│ emoji    │ NONE     │ NONE     │ CMD+TAB  │ LSHFT    │          │          │      │            │          │ RSHIFT   │ REPEAT   │          │          │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├────────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                              &leader        &mt LC(LG(Q)) C_PP       &to L_LAYERS &key_repeat
//                                            │ TOG NAV      │ LOCK/PP         │      │ TO LYR     │ REPEAT       │
//                        ╭───────────────────├──────────────┼─────────────────┤      ├────────────┼──────────────┤──────────────────╮
                          &tlt L_EXT_NAV BSPC &sk LCMD       &kp C_VOL_UP             &none        &tmt RCMD RET &tlt L_EXT_NUM SPACE
//                        │ LT SC/BSPC        │ CMD          │ VOL+            │      │ NONE       │ CMD/RET      │ L: NUM/SPC       │
//                        ╰───────────────────┴──────────────┼─────────────────┤      ├────────────┼──────────────┴──────────────────╯
                                                             &kp C_VOL_DN             &none
//                                                           │ VOL-            │      │ NONE       │
//                                                           ╰─────────────────╯      ╰────────────╯
			>;
		};
		layer_1 { // base-fortnite
			bindings = <
//╭────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                 │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &none             &kp C_PP   &trans     &trans     &trans     &trans     &trans     &kp F11
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ NONE     │      │ PLAY/PS  │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ F11      │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp J      &kp Z      &kp W      &kp X      &kp R      &kp I      &kp U             &kp C_VOL_UP &trans   &trans     &trans     &trans     &trans     &trans
//│ J        │ Z        │ W        │ X        │ R        │ I        │ U        │      │ VOL+     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LCTRL  &kp A      &kp S      &kp D      &kp N5     &kp H                                   &trans     &kp J      &kp K      &kp L      &kp SEMI   &trans
//│ LCTRL    │ A        │ S        │ D        │ 5        │ H        │          │      │ TRANS    │ J        │ K        │ L        │ ;        │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LSHFT  &kp N1     &kp N2     &kp N3     &kp N4     &kp N1     &kp F             &kp C_VOL_DN &trans   &trans     &trans     &trans     &trans     &trans
//│ LSHIFT   │ 1        │ 2        │ 3        │ 4        │ 1        │ F        │      │ VOL-     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp B      &none      &none      &kp E      &kp G                                              &kp LGUI   &trans     &trans     &trans     &trans
//│ B        │ NONE     │ NONE     │ E        │ G        │          │          │      │          │ LGUI     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                                        &kp M      &kp N7               &to L_LAYERS &none
//                                                      │ M        │ 7        │         │ TO LYR   │ NONE     │
//                                       ╭──────────────├──────────┼──────────┤         ├──────────┼──────────┤──────────────╮
                                         &kp SPACE      &kp U      &kp N                &trans     &kp RET    &kp SPACE
//                                       │ SPACE        │ U        │ N        │         │ TRANS    │ ENTER    │ SPACE        │
//                                       ╰──────────────┴──────────┼──────────┤         ├──────────┼──────────┴──────────────╯
                                                                   &kp EQUAL            &to L_BASE_WIN
//                                                                 │ =        │         │ TO WIN   │
//                                                                 ╰──────────╯         ╰──────────╯
			>;
		};
		layer_2 { // base-minecraft
			bindings = <
//╭────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                 │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp H             &kp C_PP   &trans     &trans     &trans     &trans     &trans     &kp F11
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ H        │      │ PLAY/PS  │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ F11      │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp H      &kp Q      &kp W      &kp E      &kp R      &kp T      &kp GRAVE         &kp C_VOL_UP &trans   &trans     &trans     &trans     &trans     &trans
//│ H        │ Q        │ W        │ E        │ R        │ T        │ `        │      │ VOL+     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LSHFT  &kp A      &kp S      &kp D      &kp F5     &kp F                                   &trans     &kp J      &kp K      &kp L      &kp SEMI   &trans
//│ LSHIFT   │ A        │ S        │ D        │ F5       │ F        │          │      │ TRANS    │ J        │ K        │ L        │ ;        │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LCTRL  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp LBKT          &kp C_VOL_DN &trans   &trans     &trans     &trans     &trans     &trans
//│ LCTRL    │ Z        │ X        │ C        │ V        │ B        │ [        │      │ VOL-     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &none      &none      &none      &none                                              &kp RGUI   &trans     &trans     &trans     &trans
//│ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │          │          │      │          │ RGUI     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                                       &none      &none                 &to L_LAYERS  &none
//                                                     │ NONE     │ NONE     │          │ TO LYR   │ NONE     │
//                                      ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                                        &kp SPACE      &kp J      &none                 &none      &kp RET    &kp SPACE
//                                      │ SPACE        │ J        │ NONE     │          │ NONE     │ ENTER    │ SPACE        │
//                                      ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                                                  &none                 &to L_BASE_WIN
//                                                                │ NONE     │          │ TO WIN   │
//                                                                ╰──────────╯          ╰──────────╯
			>;
		};
		layer_3 { // base-gaming
			bindings = <
//╭────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                 │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp H             &kp C_PP   &trans     &trans     &trans     &trans     &trans     &kp F11
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ H        │      │ PLAY/PS  │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ F11      │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp GRAVE         &kp C_VOL_UP &trans   &trans     &trans     &trans     &trans     &trans
//│ TAB      │ Q        │ W        │ E        │ R        │ T        │ `        │      │ VOL+     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LCTRL  &kp A      &kp S      &kp D      &kp F      &kp G                                   &trans     &kp J      &kp K      &kp L      &kp SEMI   &trans
//│ LCTRL    │ A        │ S        │ D        │ F        │ G        │          │      │ TRANS    │ J        │ K        │ L        │ ;        │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp LBKT          &kp C_VOL_DN &trans   &trans     &trans     &trans     &trans     &trans
//│ LSHIFT   │ Z        │ X        │ C        │ V        │ B        │ [        │      │ VOL-     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &none      &none      &none      &kp LALT                                            &kp RGUI   &trans     &trans     &trans     &trans
//│ NONE     │ NONE     │ NONE     │ NONE     │ LALT     │          │          │      │          │ RGUI     │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                                       &none      &none                 &to L_LAYERS &none
//                                                     │ NONE     │ NONE     │          │ TO LYR   │ NONE     │
//                                      ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                                        &kp SPACE      &kp LALT   &none                 &none      &kp RET    &kp SPACE
//                                      │ SPACE        │ LALT     │ NONE     │          │ NONE     │ ENTER    │ SPACE        │
//                                      ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                                                &none                 &to L_BASE_WIN
//                                                                │ NONE     │          │ TO WIN   │
//                                                                ╰──────────╯          ╰──────────╯
			>;
		};
		layer_4 { // base-win
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &trans            &trans     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ TRANS    │      │ TRANS    │ 6        │ 7        │ 8        │ 9        │ 0        │ -        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp GRAVE         &kp EQUAL  &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
//│ TAB      │ Q        │ W        │ E        │ R        │ T        │ `        │      │ =        │ Y        │ U        │ I        │ O        │ P        │ \        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &kp A      &kp S      &kp D      &kp F      &kp G                                   &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
//│ NONE     │ A        │ S        │ D        │ F        │ G        │          │      │ H        │ J        │ K        │ L        │ ;        │ '        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &mt LPAR LBKT     &mt RPAR RBKT &kp N   &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
//│ LSHIFT   │ Z        │ X        │ C        │ V        │ B        │ (/[      │      │ )/]      │ N        │ M        │ ,        │ .        │ /        │ RSHIFT   │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LG(DOT) &none     &none      &alt_tab   &kp LSHFT                                           &kp RSHFT  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
//│ WIN+.    │ NONE     │ NONE     │ ALT+TAB  │ LSHIFT   │          │          │      │          │ RSHIFT   │ ←        │ ↓        │ ↑        │ →        │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                   &tog L_EXT_NAV &mt LG(L) C_PP                       &to L_LAYERS &tog L_EXT_NUM
//                                 │ TOG NAV  │ WIN+L/PP │          │ TO LYR   │ TOG NUM  │
//                  ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                    &tlt L_EXT_NAV BSPC &mt_rpt LCTRL 0  &kp C_VOL_UP  &none    &tmt RCTRL RET &tlt L_EXT_NUM SPACE
//                  │ LT NAV/BSPC  │ LCTRL/RPT │ VOL+    │          │ NONE     │ RCTRL/RET │ LT NUM/SPC  │
//                  ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                              &kp C_VOL_DN           &none
//                                            │ VOL-     │          │ NONE     │
//                                            ╰──────────╯          ╰──────────╯
			>;
		};
		layer_5 { // base-sketchup
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &trans            &trans     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ TRANS    │      │ TRANS    │ 6        │ 7        │ 8        │ 9        │ 0        │ -        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp GRAVE         &kp EQUAL  &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
//│ TAB      │ Q        │ W        │ E        │ R        │ T        │ `        │      │ =        │ Y        │ U        │ I        │ O        │ P        │ \        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &kp A      &kp S      &kp D      &kp F      &kp G                                   &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
//│ NONE     │ A        │ S        │ D        │ F        │ G        │          │      │ H        │ J        │ K        │ L        │ ;        │ '        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &mt LPAR LBKT     &mt RPAR RBKT &kp N   &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
//│ LSHIFT   │ Z        │ X        │ C        │ V        │ B        │ (/[      │      │ )/]      │ N        │ M        │ ,        │ .        │ /        │ RSHIFT   │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LG(DOT) &none     &none      &alt_tab   &kp LSHFT                                           &kp RSHFT  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
//│ WIN+.    │ NONE     │ NONE     │ ALT+TAB  │ LSHIFT   │          │          │      │          │ RSHIFT   │ ←        │ ↓        │ ↑        │ →        │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                   &tog L_EXT_NAV &mt LG(L) C_PP                       &to L_LAYERS &tog L_EXT_NUM
//                                 │ TOG NAV  │ WIN+L/PP │          │ TO LYR   │ TOG NUM  │
//                  ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                    &tlt L_EXT_NAV SPACE &tmt LCTRL BSPC &kp C_VOL_UP &none    &tmt RCTRL RET &tlt L_EXT_NUM SPACE
//                  │ LT NAV/SPC   │ LCTRL/BSPC │ VOL+   │          │ NONE     │ RCTRL/RET │ LT NUM/SPC  │
//                  ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                              &kp C_VOL_DN           &none
//                                            │ VOL-     │          │ NONE     │
//                                            ╰──────────╯          ╰──────────╯
			>;
		};
		layer_6 { // base-old
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &trans            &trans     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
//│ ESC      │ 1        │ 2        │ 3        │ 4        │ 5        │ TRANS    │      │ TRANS    │ 6        │ 7        │ 8        │ 9        │ 0        │ -        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp GRAVE         &kp EQUAL  &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
//│ TAB      │ Q        │ W        │ E        │ R        │ T        │ `        │      │ =        │ Y        │ U        │ I        │ O        │ P        │ \        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LGUI   &kp A      &kp S      &kp D      &kp F      &kp G                                   &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
//│ LGUI     │ A        │ S        │ D        │ F        │ G        │          │      │ H        │ J        │ K        │ L        │ ;        │ '        │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &mt LPAR LBKT     &mt RPAR RBKT &kp N   &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
//│ LSHIFT   │ Z        │ X        │ C        │ V        │ B        │ (/[      │      │ )/]      │ N        │ M        │ ,        │ .        │ /        │ RSHIFT   │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &kp LC(LG(SPACE)) &kp LCTRL &kp LALT &none   &kp LGUI                                           &kp RGUI   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
//│ LC(LG(SP))│ LCTRL   │ LALT     │ NONE     │ LGUI     │          │          │      │          │ RGUI     │ ←        │ ↓        │ ↑        │ →        │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                   &tog L_EXT_NAV &mt LC(LG(Q)) C_PP                   &to L_LAYERS &tog L_EXT_NUM
//                                 │ TOG NAV  │ LC(LG(Q))/PP │      │ TO LYR   │ TOG NUM  │
//                  ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                    &lt L_EXT_NAV BSPC &kp DEL &kp C_VOL_UP         &none      &kp RET    &lt L_EXT_NUM SPACE
//                  │ LT NAV/BSPC  │ DEL      │ VOL+     │          │ NONE     │ RET      │ LT NUM/SPC  │
//                  ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                              &kp C_VOL_DN           &none
//                                            │ VOL-     │          │ NONE     │
//                                            ╰──────────╯          ╰──────────╯
			>;
		};

		layer_7 { // extend-nav
			bindings = <
//╭────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                 │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &trans            &trans     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
//│ TRANS    │ F1       │ F2       │ F3       │ F4       │ F5       │ TRANS    │      │ TRANS    │ F6       │ F7       │ F8       │ F9       │ F10      │ F11      │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &kp LG(GRAVE)    &trans     &trans     &trans     &trans     &trans     &trans     &kp F12
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ CMD+`    │      │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ F12      │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &caps_word &sk LSHFT  &sk LCTRL  &sk LALT   &sk LGUI   &kp LC(TAB)                             &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans     &trans
//│ CAPS WRD │ SHIFT    │ CTRL     │ ALT      │ GUI      │ CTL+TAB  │          │      │          │ ←        │ ↓        │ ↑        │ →        │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &kp LG(LEFT) &kp LPAR        &kp RPAR     &trans     &kp PG_DN  &kp PG_UP  &trans     &kp UP     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ GUI+←    │ LPAR     │      │ RPAR     │ TRANS    │ PG DN    │ PG UP    │ TRANS    │ ↑        │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &kp LG(TAB) &trans                                                       &trans     &kp LC(RET) &kp LEFT  &kp DOWN   &kp RIGHT
//│ TRANS    │ TRANS    │ TRANS    │ CMD+TAB  │ TRANS    │          │          │      │                     │ TRANS    │ CTRL+RET │ ←        │ ↓        │ →        │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                                       &trans     &trans                           &trans     &trans
//                                                     │ TRANS    │ TRANS    │          │          │ TRANS    │ TRANS    │
//                                      ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                                        &kp BSPC       &trans     &kp C_NEXT            &trans     &trans     &kp DEL
//                                      │ BSPC         │ TRANS    │ NEXT     │          │ TRANS    │ TRANS    │ DEL          │
//                                      ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                                                  &kp C_PREV            &trans
//                                                                │ PREV     │          │ TRANS    │
//                                                                ╰──────────╯          ╰──────────╯
			>;
		};
		layer_8 { // extend-num
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &trans     &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ TRANS    │ KP /     │ KP *     │ -        │          │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &kp N7     &kp N8     &kp N9     &kp KP_PLUS &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ 7        │ 8        │ 9        │ KP +     │ TRANS    │ 
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &sk LSHFT  &sk LCTRL  &sk LALT   &sk LGUI   &trans                                  &trans     &kp N4     &kp N5     &kp N6     &kp KP_PLUS &trans
//│ TRANS    │ SHIFT    │ CTRL     │ ALT      │ GUI      │ TRANS    │          │      │          │ TRANS    │ 4        │ 5        │ 6        │ KP +     │ TRANS    │ 
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &kp N1     &kp N2     &kp N3     &kp KP_ENTER &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ 1        │ 2        │ 3        │ KP ENTER │ TRANS    │ 
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans                                                        &kp N0     &kp N0     &kp KP_DOT &kp KP_ENTER &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │          │      │                     │ 0        │ 0        │ KP .     │ KP ENTER │ TRANS    │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                            &trans     &trans                            &trans     &trans
//                                          │ TRANS    │ TRANS    │          │          │ TRANS    │ TRANS    │
//                                      ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                                        &kp LA(BSPC)       &kp DEL    &kp C_BRI_INC         &trans     &kp RET    &trans
//                                      │ WORD BSPC    │ DEL      │ BRI+     │          │ TRANS    │ RET      │ TRANS        │
//                                      ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                                                  &kp C_BRI_DEC         &trans
//                                                                │ BRI-     │          │ TRANS    │
//                                                                ╰──────────╯          ╰──────────╯
			>;
		};
		layer_9 { // extend-func
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &kp F10    &kp F11    &kp F12    &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ F10      │ F11      │ F12      │ TRANS    │ TRANS
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &kp F12    &kp F7     &kp F8     &kp F9     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ F12      │ F7       │ F8       │ F9       │ TRANS    │ TRANS
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &sk LSHFT  &sk LCTRL  &sk LALT   &sk LGUI   &trans                                  &kp F11    &kp F4     &kp F5     &kp F6     &trans     &trans
//│ TRANS    │ SHIFT    │ CTRL     │ ALT      │ GUI      │ TRANS    │          │      │          │ F11      │ F4       │ F5       │ F6       │ TRANS    │ TRANS
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &kp F10    &kp F1     &kp F2     &kp F3     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ F10      │ F1       │ F2       │ F3       │ TRANS    │ TRANS
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans                                                        &trans     &trans     &trans     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │          │      │          │          │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                   &trans     &trans                                   &trans     &trans
//                                 │ TRANS    │ TRANS    │          │          │ TRANS    │ TRANS    │
//                  ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                    &kp BSPC       &kp DEL    &kp C_BRI_INC        &trans     &kp RET    &kp SPACE
//                  │ BSPC         │ DEL      │ BRI+     │          │ TRANS    │ RET      │ SPACE        │
//                  ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                              &kp C_BRI_DEC         &trans
//                                            │ BRI-     │          │ TRANS    │
//                                            ╰──────────╯          ╰──────────╯
			>;
		};
		layer_10 { // mouse
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &none      &none      &none      &none      &none      &none      &none             &none      &none      &none      &none      &none      &none      &none
//│ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │      │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &none      &none      &none      &none      &none      &none             &none      &none      &none      &none      &none      &none      &none
//│ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │      │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &none      &none      &none      &none      &none                                   &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &none &none
//│ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │          │      │          │ MS ←     │ MS ↓     │ MS ↑     │ MS →     │ NONE     │ NONE     │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &none      &none      &none      &none      &none      &none             &none      &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &none &none
//│ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │      │ NONE     │ SCR ←    │ SCR ↓    │ SCR ↑    │ SCR →    │ NONE     │ NONE     │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &none      &none      &none      &none      &none                                             &mkp MCLK  &none      &none      &none      &none
//│ NONE     │ NONE     │ NONE     │ NONE     │ NONE     │          │          │      │          │ M CLK    │ NONE     │ NONE     │ NONE     │ NONE     │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                   &none      &none                                   &to L_LAYERS &none
//                                 │ NONE     │ NONE     │          │          │ TO LYR   │ NONE     │
//                  ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                    &none          &none      &none                 &none      &mkp LCLK  &mkp RCLK
//                  │ NONE         │ NONE     │ NONE     │          │ NONE     │ L CLK    │ R CLK        │
//                  ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                              &none                 &none
//                                            │ NONE     │          │ NONE     │
//                                            ╰──────────╯          ╰──────────╯
			>;
		};
		layer_11 { // layers
			bindings = <
//╭─────────────────────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                                       │
//├──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┐                              ╭──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┤
  &none                       &bt BT_SEL 0              &bt BT_SEL 1              &bt BT_SEL 2              &bt BT_SEL 3              &bt BT_SEL 4              &none                                                      &bt BT_CLR                &none                     &none                     &none                     &none                     &none                     &none
//│ NONE                     │ BT 0                     │ BT 1                     │ BT 2                     │ BT 3                     │ BT 4                     │ NONE                     │                              │ BT CLEAR                 │ NONE                     │ NONE                     │ NONE                     │ NONE                     │ NONE                     │ NONE                     │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &none                       &none                     &to L_BASE_WIN             &none                     &none                     &none                     &none                                                      &out OUT_BLE              &none                     &to L_UNDERGLOW       &none                     &to L_BASE_OLD         &none                     &none
//│ NONE                     │ NONE                     │ TO WIN                   │ NONE                     │ NONE                     │ NONE                     │ NONE                     │                              │ OUT BLE                  │ NONE                     │ TO UNDERGLOW             │ NONE                     │ TO OLD MAC               │ NONE                     │ NONE                     │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &none                       &none                     &to L_BASE_SKETCHUP        &none                     &to L_BASE_FORT        &to L_BASE_GAME                                                                                                      &none                     &none                     &none                     &none                     &none                     &none
//│ NONE                     │ NONE                     │ TO SKETCHUP              │ NONE                     │ TO FORTNITE              │ TO GAMING                │                          │                              │                          │ NONE                     │ NONE                     │ NONE                     │ NONE                     │ NONE                     │ NONE                     │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &none                       &none                     &none                     &to L_BASE_MINE       &none                     &none                     &none                                                      &out OUT_USB              &none                     &to L_MOUSE           &none                     &none                     &none                     &none
//│ NONE                     │ NONE                     │ NONE                     │ TO MINECRAFT             │ NONE                     │ NONE                     │ NONE                     │                              │ OUT USB                  │ NONE                     │ TO MOUSE                 │ NONE                     │ NONE                     │ NONE                     │ NONE                     │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &none                       &none                     &none                     &none                     &none                                                                                                                            &none                     &none                     &none                     &none                     &none
//│ NONE                     │ NONE                     │ NONE                     │ NONE                     │ NONE                     │                          │                          │                              │                          │ NONE                     │ NONE                     │ NONE                     │ NONE                     │ NONE                     │                          │
//╰──────────────────────────┴──────────────────────────┴──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┴──────────────────────────╯
                                                                                   &none                     &none                                                                                      &to L_BASE_MAC           &none
//                                                                                 │ NONE                     │ NONE                     │                              │ TO MACOS                 │ NONE                     │
//                                                                                 ├──────────────────────────┼──────────────────────────┼──────────────────────────┤  ├──────────────────────────┼──────────────────────────┤
                                                        &none                     &none                     &none                                                      &bootloader               &none                     &none
//                                                     │ NONE                     │ NONE                     │ NONE                     │  │ BOOTLOADER               │ NONE                     │ NONE                     │
//                                                     ╰──────────────────────────┴──────────────────────────┼──────────────────────────┤  ├──────────────────────────┼──────────────────────────┴──────────────────────────┤
                                                                                                             &none                                                      &sys_reset
//                                                                                                          │ NONE                     │  │ SYS RESET                │
//                                                                                                          ╰──────────────────────────╯  ╰──────────────────────────╯
			>;
		};
		layer_12 { // underglow testing
			bindings = <
//╭─────────────────────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                                       │
//├──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┐                              ╭──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬──────────────────────────┤
  &trans                      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                                                     &trans                    &trans                    &trans                    &trans                    &trans                    &trans                    &rgb_ug RGB_COLOR_HSB(0, 100, 0)
//│ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │                              │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ RGB OFF                  │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &trans                      &trans                    &rgb_ug RGB_BRI           &trans                    &rgb_ug RGB_COLOR_HSB(0, 0, 20) &trans                 &trans                                                     &trans                    &trans                    &trans                    &trans                    &trans                    &trans                    &trans
//│ TRANS                    │ TRANS                    │ RGB BRIGHTNESS+          │ TRANS                    │ RGB WHITE                │ TRANS                    │ TRANS                    │                              │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &trans                      &rgb_ug RGB_EFR           &rgb_ug RGB_BRD           &rgb_ug RGB_EFF           &trans                    &trans                                                                                   &rgb_ug RGB_SAD           &rgb_ug RGB_HUD           &rgb_ug RGB_HUI           &rgb_ug RGB_SAI           &trans                    &trans
//│ TRANS                    │ RGB EFFECT FWD           │ RGB BRIGHTNESS-          │ RGB EFFECT REV           │ TRANS                    │ TRANS                    │                          │                              │ RGB SAT-                 │ RGB HUE-                 │ RGB HUE+                 │ RGB SAT+                 │ TRANS                    │ TRANS                    │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &trans                      &trans                    &trans                    &trans                    &trans                    &trans                    &trans                                                     &trans                    &trans                    &trans                    &trans                    &trans                    &trans                    &trans
//│ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │                              │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │
//├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤
  &trans                      &trans                    &trans                    &trans                    &trans                                                                                                                         &trans                    &trans                    &trans                    &trans                    &trans
//│ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │                          │                          │                              │                          │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │ TRANS                    │                          │
//╰──────────────────────────┴──────────────────────────┴──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┤                              ├──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼──────────────────────────┴──────────────────────────╯
                                                                                   &trans                    &trans                                                                                     &to L_LAYERS          &trans
//                                                                                 │ TRANS                    │ TRANS                    │                              │ TO LAYERS                │ TRANS                    │
//                                                                                 ├──────────────────────────┼──────────────────────────┼──────────────────────────┤  ├──────────────────────────┼──────────────────────────┤
                                                        &trans                    &trans                    &trans                                                     &trans                    &trans                    &trans
//                                                     │ TRANS                    │ TRANS                    │ TRANS                    │  │ TRANS                    │ TRANS                    │ TRANS                    │
//                                                     ╰──────────────────────────┴──────────────────────────┼──────────────────────────┤  ├──────────────────────────┼──────────────────────────┴──────────────────────────┤
                                                                                                             &trans                                                     &trans
//                                                                                                          │ TRANS                    │  │ TRANS                    │
//                                                                                                          ╰──────────────────────────╯  ╰──────────────────────────╯
			>;
		};
		layer_13 { // blank transparent layer (not used)
			bindings = <
//╭───────────────────────────────────────────────────────────────────────────────────╮
  &bootloader
//│ BOOTLOADER                                                                        │
//├──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐      ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &trans     &trans     &trans     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &trans     &trans     &trans     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans                                  &trans     &trans     &trans     &trans     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │      │          │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans     &trans     &trans            &trans     &trans     &trans     &trans     &trans     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │      │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │
//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
  &trans     &trans     &trans     &trans     &trans                                             &trans     &trans     &trans     &trans     &trans
//│ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │          │      │          │ TRANS    │ TRANS    │ TRANS    │ TRANS    │ TRANS    │          │
//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
                                   &trans     &trans                                   &trans     &trans
//                                 │ TRANS    │ TRANS    │          │          │ TRANS    │ TRANS    │
//                  ╭──────────────├──────────┼──────────┤          ├──────────┼──────────┤──────────────╮
                    &trans         &trans     &trans                &trans     &trans     &trans
//                  │ TRANS        │ TRANS    │ TRANS    │          │ TRANS    │ TRANS    │ TRANS        │
//                  ╰──────────────┴──────────┼──────────┤          ├──────────┼──────────┴──────────────╯
                                              &trans                &trans
//                                            │ TRANS    │          │ TRANS    │
//                                            ╰──────────╯          ╰──────────╯
			>;
		};
	};
};
